.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./background.jpeg");
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 800px) {
  .App {
    min-height: 200vh;
    height: 200vh;
    background-image: url("./background.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
  }
}
